# Copia a .env y rellena con tus valores
PORT=4242
BASE_URL=http://localhost:4242

# Stripe (pruebas)
STRIPE_SECRET_KEY=sk_test_REEMPLAZAR
STRIPE_PUBLISHABLE_KEY=pk_test_REEMPLAZAR

# Admin
ADMIN_PASSWORD=admin1234

# Gmail para enviar contactos (se recomienda usar App Password)
GMAIL_USER=tu.email@gmail.com
GMAIL_PASS=tu_app_password
GMAIL_TO=tu.email@gmail.com
